.device-container-number-add {
    position: relative;
    height: 760px;
    background-color: #f7f7f7;

    .title-number-add {
        position: absolute;
        width: 200px;
        height: 36px;
        left: 224px;
        top: 104px;

        /* 24/24 Bold */

        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */

        /* Orange/$-Orange-500 */

        color: #ff7506;
    }



    .device-infor-number-add {
        height: 550px;
        width: 1252px;
        left: 224px;
        top: 160px;
        border-radius: 16px;
        background: #FFFFFF;
        box-shadow: 2px 2px 8px 0px #E8EFF4CC;
        position: relative;

        .title-1-number-add {
            margin-left: 40%;
            height: 48px;
            width: 400px;
            left: 501px;
            border-radius: nullpx;
            //styleName: 32/32 Bold;
            font-family: Nunito;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: left;
            color: #FF7506;
        }

        .content-number-add {
            margin-top: 30px;
            margin-left: 470px;
            height: 30px;
            width: 265px;
            left: 464px;
            top: 92px;
            border-radius: nullpx;
            //styleName: 20/20 Bold;
            font-family: Nunito;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #535261;
        }

        .select-number-add {
            select {
                margin-top: 30px;
                margin-left: 400px;
                height: 44px;
                width: 400px;
                left: 396px;
                top: 134px;
                border-radius: 8px;
                padding: 10px 12px 10px 12px;
                justify: space-between;
                border: 1.5px solid #D4D4D7;
            }
        }

        .Button-number-add {
            position: relative;
            left: 440px;
            top: 50px;

            .Button-1-number-add {
                margin-left: 40px;
                height: 48px;
                width: 147px;
                left: 179px;
                top: 0px;
                border-radius: 8px;
                padding: 10px 24px 10px 24px;
                background: #FF9138;
                box-shadow: 0px 0px 6px 0px #E7E9F2;

                span {
                    height: 22px;
                    width: 99px;
                    left: 24px;
                    top: 13px;
                    border-radius: nullpx;
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                }
            }

            .Button-2-number-add {
                height: 48px;
                width: 147px;
                left: 0px;
                top: 0px;
                border-radius: 8px;
                padding: 10px 24px 10px 24px;
                background: #FFF2E7;
                border: 1.5px solid #FF9138;
                box-shadow: 0px 0px 6px 0px #E7E9F2;

                span {
                    height: 22px;
                    width: 54px;
                    left: 46.5px;
                    top: 13px;
                    border-radius: nullpx;
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FF9138;
                }
            }
        }
    }

}