.dashboard-container {
    background-color: #f7f7f7;
    height: 770px;

    .title {
        position: absolute;
        width: 200px;
        height: 36px;
        left: 224px;
        top: 104px;

        /* 24/24 Bold */

        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */

        /* Orange/$-Orange-500 */

        color: #ff7506;
    }

    .group-1 {
        margin-left: 230px;
        margin-top: 140px;
    }

    .group-bottom {
        height: 484px;
        width: 1029px;
        border-radius: 12px;

        .comment-1 {
            margin-top: 10px;
            margin-left: 250px;
            height: 50px;
            width: 500px;
            left: 24px;
            top: 24px;
            border-radius: nullpx;
            //styleName: 20/20 Bold;
            font-family: Nunito;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
        }

        .comment-2 {
            height: 21px;
            width: 99px;
            left: 24px;
            top: 58px;
            border-radius: nullpx;
            color: #A9A9B0;

            //styleName: 14/14 Reg;
            font-family: Nunito;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;

        }

        .status-action {
            margin-top: -40px;
            margin-left: 870px;
            height: 42px;
            width: 184px;
            left: 583px;
            top: 24px;
            border-radius: 12px;
        }
    }

    .group-2 {
        margin-top: -480px;
        margin-left: 230px;
        height: 380px;
        width: 800px;
        border-radius: 12px;
    }
}

.title-right {
    margin-left: 60px;
    //styleName: 24/24 Bold;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF7506;
}

.bieudo2 {
    margin-left: 1100px;
    margin-top: -650px;
    border-radius: 15px;

    .group-3 {
        height: 580px;
        width: 380px;
    }
}